.navmenu{
    position: fixed;
    width:250px;
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color:black;  
}

.navmenu li {
    padding: 3px 3px 3px 34px;
    list-style-position: inside;
    margin-bottom: 5px;
}

a{
    text-decoration: none;
}

.navmenu :last-child{
    margin-bottom:0px;
}

.navmenu li :hover {
    
    color: red;
    text-transform: uppercase;
    text-decoration: underline;
}

.esp{
    
    background-color:rgba(0, 0, 255, 0.5);
    background-image: url(../images/es.png);
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
}


.deu{
    background-color:rgba(255, 0, 0, 0.25);
    background-image: url(../images/de.png);
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
}

.eng{
    background-color: rgba(0, 255, 0, 0.75);
    background-image: url(../images/en-GB.png);
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
}

