* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #4abdac;
    color: #dfdce3;
}

header {
    margin: 0.625em;
    padding: 0.3125em;
    /*ovaj padding povećava kutiju za 0.625em po visini*/
    height: 5.625em;
    /*Ukupna visina kutije je 100px*/
    background-color: #fc4a1a;
    border-radius: 0.625em;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

header h1 {
    height: 100%;
    text-align: center;
    font-size: 2em;
    line-height: 2.8125em;
    /*Visina 5.625em / 2 em => 2.8125em*/
}

nav {
    margin: 0.625em;
    padding: 0.3125em;
    height: 4.375em;
    background-color: #f78733;
    border-radius: 0.625em;
}

nav ul {
    height: 100%;
    border-radius: 0.625em;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}

nav ul li {
    display: inline-block;
    margin-right: 1.875em;
    height: 100%;
    width: 7.5em;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    line-height: 2.916em;
    /*Visina 4.375em / 1.5em => 2.916em*/
    border-radius: 0.625em;
}

nav ul li a:hover {
    background-color: #dfdce3;
    color: #f78733;
}

main {
    margin: 0.625em;
    border-radius: 0.625em;
    display: flex;
    flex-direction: row;
}


main article, aside {
    background-color: #f78733;
    width: 100%;
}

main aside:nth-child(1) {
    flex: 1 18.75em;
    padding: 0.3125em;
    border-radius: 0.625em;    
}

main aside:nth-child(1) p {
    width: 100%;
    height: 100%;
}

main aside:nth-child(2) {
    margin-top: 0.625em;
    margin-bottom: 0.3125em;
    flex: 1 18.75em;
    padding: 0.3125em;
    border-radius: 0.625em;
}

main aside:nth-child(2) p {
    width: 100%;
    height: 100%;
}

main article:nth-child(1) {
    margin-top: 0em;
    margin-right: 20em;
    padding: 0.3125em;
    border-radius: 0.625em;
    flex: 3;
}

main article:nth-child(1) p, main article:nth-child(1) h2 {
    width: 100%;
}

main article:nth-child(2) {
    margin-top: 0.625em;
    margin-right: 20em;
    padding: 0.3125em;
    border-radius: 0.625em;
    flex: 3;
}

main article:nth-child(2) p, main article:nth-child(2) h2 {
    width: 100%;
}

footer {
    background-color: #fc4a1a;
    margin: 0.625em;
    padding: 0.3125em;
    height: 5.625em;
    border-radius: 0.625em;
    display: flex;
    flex-direction: row-reverse;
}

footer ul {
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
    margin-right: 0.3125em;
}

footer ul li a {
    display: inline-block;
    width: auto;
    height: auto;
}

footer ul li a:hover{
    opacity: 0.5;
}

footer p {
    height: 100%;
    width: 100%;
    line-height: 5.625em;
    text-align: left
}

#articles{
    margin-right: 1.25em;
}